<html>
<head>
  <title> Books List </title>
  <style>
      hr {
          align-self: center;
          width: 50%;
      }
      h1{
          text-align: center;
          color: wheat;
      }
      h2{
          text-align: center;
          color: wheat;
      }
      p{
          text-align: center;
          color: wheat;
      }
  </style>
</head>
  <body>
  <h1 style="text-align: center; color: yellow">Book Detail</h1>
    <br>
    <h2 style="text-align: left"><%= link_to 'Back' , books_path , class: 'css_class', style: 'color:yellow; text-align: center; ' %></h2>
    <%= link_to 'Download PDF' , books_path(format: :pdf) , class: 'css_class', style: 'color:yellow; ' %>
    <div class="container " , style="float: left;" >
      <table class="table table-dark table-striped" style="text-align: center;margin: 10px;" >
        <thead>
          <th>Title</th>
          <th>Discription</th>
          <th>Publish Date</th>
          <th>Image</th>
        </thead>
        <tbody>
        <tr>
          <td><%= @book.title %></td>
          <td><%= @book.description %></td>
          <td><%= @book.publish_date %></td>
          <td style='width: 50px; height: 50px'><%= image_tag @book.image, style: 'width: 50px ' if @book.image.attached? %>
          </td>   
        </tr>
        </tbody>
      </table>
      <hr>
    </div>
    
  </body>
</html>