<html>
<head>
  <style>
      .csform{
          text-align: center;
          margin: 10px;
      }
      .csform > label{
          align-self: center;
          color: whitesmoke;
      }
      .csform > input[type="text"]{
          background-color: wheat;
          border:none;
      }
      .csform > input[type="date"]{
          background-color: wheat;
          border:none;
      }
      .csform > input[type="submit"]{
          background-color: #3B0000 ;
          height: 100%;
          width: 100%;
          border-radius: 30px;
          border: none;
          padding: 10px;
          color: wheat;
      }
  </style>
</head>
<body>
<div style=" display: flex; justify-content: center">
  <div style="background-color: #8B4513; padding: 50px; margin: 30px; border-radius: 10px; ">
    <div style=" display: flex; justify-content: center">
      <%= form_with model: [@user , @user.addresses.build ]   do |form| %>
        <% if @address.errors.any? %>
        <% @address.errors.full_messages.each do |message| %>
            <p style="text-align: center; color: wheat" ><%= message %></p>
          <% end %>
        <% end %>
        <div class="csform" >
          <%= form.label :Address_1 %>
        </div>
        <div class="csform">
          <%= form.text_field :address1 %>
        </div>
        <div class="csform" >
          <%= form.label :Address_2 %>
        </div>
        <div class="csform">
          <%= form.text_field :address2 %>
        </div>
        <div class="csform">
          <%= form.label :Zipcode %>
        </div>
        <div class="csform">
          <%= form.number_field :zipcode %>
        </div>
        <div class="csform" >
          <%= form.label :City %>
        </div>
        <div class="csform">
          <%= form.text_field :city %>
        </div>
        <div class="csform" >
          <%= form.label :State %>
        </div>
        <div class="csform">
          <%= form.text_field :state %>
        </div>
        <div class="csform" >
          <%= form.label :Country %>
        </div>
        <div class="csform">
          <%= form.text_field :country %>
        </div>
        <%= form.hidden_field :user_id, value: current_user.id %>

        <div class="csform">
          <%= form.hidden_field :user_id , value: current_user.id %>
          <%= form.submit 'Add Address' %>
        </div>
        <div>
          <br><p style="text-align: center"><%= link_to 'Back' , welcome_home_path , class: 'css_class', style: 'color: wheat; text-align: center; ' %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>