<html>
<head>
  <title>Home Page</title>
</head>
<div style="float: right; display: flex;" >
  <%= image_tag current_user.image, style: 'width: 50px; border-radius: 50px; ' if  current_user.image.attached? %>
  <h2 style="margin: auto" ><%= button_to 'Sign Out' , destroy_user_session_path, method: :delete , data: { confirm: 'Do you want to sing out ? '}, data: { turbo: false }  %></h2>
</div>
<div class="container">
  <body>
  <button class="btn btn-outline-warning btn-lg " > <%= link_to 'Back' , welcome_home_path , class: 'css_class', style: 'color:yellow; text-align: center; ' %> </button>
  <br>
  <button class="btn btn-outline-warning btn-lg " > <%= link_to 'Add New Country' , new_country_path , class: 'css_class', style: 'color:yellow; text-align: center; ' %> </button>
  <div style="display: flex; justify-content: flex-end" >
    <%= search_form_for @q, data: { turbo_frame: :results } do |f| %>
      <%= f.label :Search , class: 'css_class', style: 'color:yellow; text-align: center; font-size: 25px; ' %>
      <%= f.search_field :country_name_cont, oninput: "this.form.requestSubmit()", autocomplete: "off"  , class: 'css_class', style: 'border: none; background: grey; ' %>
    <% end %>
  </div>
  <%= turbo_frame_tag :results do %>
  <table class="table table-striped table-dark">
    <thead>
    <th>Country Name</th>
    <th colspan="3" style="text-align: center;" >Actions</th>
    </thead>
    <tbody>
    <tr>
    <% @countries.each do |con| %>
        <td><%= con.country_name %></td>
        <td><button class="btn btn-outline-info" ><%= link_to 'View' , country_path(con) %></button></td>
        <td><button class="btn btn-outline-info"  ><%= link_to 'Edit' , edit_country_path(con) %></button> </td>
        <td><%= button_to 'Delete', country_path(con) ,method: :delete , data: { turbo: false }   %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
  <div style="color: yellow; float: right;" >
    <%== pagy_nav(@pagy) %>
  </div>
  </body>
</div>
</html>

